.Header_wrapper{
  position: relative;
  display: flex;
  grid-area: header;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(98, 99, 116);
  background-color: #170F23;
  border-bottom: 1px solid #383142;
}
