.HeaderIconRight_wrapper{
  position: relative;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #2F2739;
  border-radius: 50%;
  cursor: pointer;

  .icon_circle{
    color: #C0BFC2;
    font-size: 16px;
  }
}
