.Singer_wrapper{
  p{
    display: -webkit-box;
    overflow: hidden;
    color: #7F7A85;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
