.Header_wrapper{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 240px);
  height: 90px;
  padding: 0 40px;
  color: #FFFFFF;
  // background-color: #170F23;
  background-color: #1D1629;
}
