.NextIcon_wrapper{
  position: relative;
  width: 40px;
  height: 41px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;

  .icon-next{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }
}
