.ToggleIcon_wrapper{
  position: relative;
  width: 36px;
  height: 40px;
  margin-right: 8px;
  overflow: hidden;
  background-color: #6A6972;
  border-radius: 8px;

  .toggle-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 13px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .toggle-icon.active{
    color: #7200A1;
  }

  .nav-menu{
    position: fixed;
    top: 0;
    right: -320px;
    bottom: 90px;
    z-index: 999;
    width: 320px;
    padding: 20px 10px;
    background-color: #120822;
    border-left: 1px solid #271F34;
    transition: 0.5s linear;
  }

  .nav-menu.active{
    right: 0;
    transition: 0.5s linear;
  }
}
