.SongItemImg_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.SongItemImg_wrapper:hover{
  .Visibility_wrapper {
    background-color: #170F2342;
    opacity: 1;
  }

  .song_img{
    transform: scale(1.2);
  }
}
