.HeaderInput_wrapper{
  .search_input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 86%;
    color: #C0BFC2;
    font-size: 16px;
    background-color: #2F2739;
    border: none;
    outline: none;
  }
}
