.ListItem_wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid #383142;

  .list-item{
    display: flex;
    align-items: center;
    padding: 8px 20px;
  }
}
